@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.nav-image{
  border-radius: 40px;
}

.carousel-image{
  max-height: 400px;
  width: auto;
}

.about-us-card{
 border-width: 5px;
 border-color: black;
 border-radius: 10px;
}

.slider-css{
  width: 75%;
  margin: 10rem auto;
  height:170px;
}

.nav-icons{
  height: 100px;
  width: auto
}

.vertical-line{
  border-left: 4px solid red
  
}

.center{
  text-align: center;
}

.icon-button{
  border:none;
  width:100%;
}

.white-logo{
  border-radius: 80px;
}

.icon-box{
  padding-right:0px;
  padding-left: 0px;
}

.font-header{
  color: rgb(240, 16, 16)
}

.font-body{
  margin-top: 20px;
  font-size: 25px;
}

.col-container{
  display: table;
  width: 100%;
}

.about-us{
  display: table-cell;
  padding: 16px;
}

.about-image{
  height:400px;
  width:400px;
  border-radius: 50%;

}



